* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  overflow-y: scroll;
  background-image: url("../icons/weather_card.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: fit-content; /* Set the height to fill the viewport */
    position: relative;
}

/* Header */

header {
    background-color: #090816;
    color: #fff;
    padding: 10px 20px;
    align-items: center;
    display: flex;
    height: calc(100vh / 10);
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    
}

.logo {
    margin-right: auto;
    height: 99%;
}

.logo img {
    width: auto;
    height: 99%;
}

nav, nav ul, footer ul {
    list-style: none;
    display: flex;
}

nav ul li, footer ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child, footer ul li:first-child{
    margin-left: 0; 
}

.alx-link, nav ul li a, footer ul li a{
    color: #fff;
    text-decoration: none;
}

.alx-link, nav ul li a:hover, footer ul li a:hover{
    font-weight: bold;
}

.main-section {
    margin-top: 10vh;
    min-height: 80vh;
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container, .main-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Set the background color to be transparent */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the alpha value here for the box shadow transparency */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Set the border color to be transparent */
}

.container {
    margin: 2vh 2vw;
}

.container h1 {
    font-size: 36px;
    font-weight: 600;
}

.container p {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    
    color: rgb(0, 20, 14);
    margin: 3px 0;
    border-radius: 3px;
    padding: 3px;
}

.data-item {
    font-size: 14px;
    font-weight: 500;
    color: #0a0501;
}

.main-container .type {
    font-size: 24px;
    font-weight: 600;
}



hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-container {
    margin-top: 5vh;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
}

main {
    min-height:40vh;
    margin-bottom: 20vh;
}

/* form */
form {
    width: 100%;
    display: flex;
    justify-content:center;
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
}

input[type="text"]:focus {
    outline: none;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    height: 40px;
    margin: auto 0;
} 

button:hover {
    background-color: #ff6600;
}

#weather-info {
    margin-top: 5px;
}

@media screen and (min-width: 768px) {
    .main-section {
        width: 100%;
    }
    .main-container {
        min-width: 90vw;
        flex-wrap: wrap;
    }
    .container {
        width: 80%;
    }
    #weather-info {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1000px) {
    .main-container {
        min-width: 30vw;
    }
}

#loc {
    font-size: 18px;
    font-weight: 700;
    color: #1d0658;
    justify-content: center;
}

footer {
    background-color: #130604;
    color: #fff;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    text-align: center;
    justify-content: center;
    height: calc(100vh / 10);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

footer ul{
    
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

/* About */
#authors {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#authors li {
    margin-bottom: 10px;
}
#authors a, .weather-api {
    color: #421a02;
    text-decoration: none;
}
